<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @userEmail %></h1>
    <p>
      To login to TAnder, click here :<%= @token %>
    </p>
  </body>
</html>