/* title */
h1
{
color: #000000;
font-size: 32pt;
font-weight: bold;
font-family: helvetica;
text-decoration: none;
}

/* up button */
b.up
{
cursor: pointer;
float: right;
}
b.up:hover {color: #ffc741;}

/* down button */
b.down
{
cursor: pointer;
float: right;
}
b.down:hover {color: #ffc741;}


/* exit button */
b.leave
{
cursor: pointer;
float: right;
}
b.leave:hover {color: #a83630;}

/* shows the rank of the element */
font.rankDisp
{
position: absolute;
color: #ffc741;
}

/* Container div for Rank, HTML form rank selector */
.rankContainer
{
position: relative;
width: 412px; height: auto;
border: 1px #645c56 solid;
padding: 8px;
}

/* Rankable element div for Rank, HTML form rank  */
.rankElement
{
position: relative;
width: 400px; height: auto;
margin: 3px;
padding: 3px;
background: #645c56;
color: #ffffff;
}

