/* line 4, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

/* line 12, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

/* line 20, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:last-child {
  position: static;
}

/* line 23, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(1) {
  z-index: 10;
}

/* line 27, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(2) {
  z-index: 9;
}

/* line 31, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(3) {
  z-index: 8;
}

/* line 35, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(4) {
  z-index: 7;
}

/* line 39, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(5) {
  z-index: 6;
}

/* line 43, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(6) {
  z-index: 5;
}

/* line 46, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(7) {
  z-index: 4;
}

/* line 49, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(8) {
  z-index: 3;
}

/* line 52, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(9) {
  z-index: 2;
}

/* line 55, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(10) {
  z-index: 1;
}

/* line 59, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* line 66, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label .icon {
  float: left;
  color: transparent;
}

/* line 71, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:last-child .icon {
  color: #000;
}

/* line 75, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

/* line 80, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

/* line 85, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* line 91, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* line 97, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
tr:nth-child(even) {
  background-color: #dddddd;
}
/* line 1, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

/* line 11, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

/* line 18, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 24, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 27, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 31, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 37, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 41, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 48, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 53, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 57, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 63, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 71, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 82, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 88, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* line 93, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.main-content {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 33px;
}

/* line 97, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.container {
  width: 100%;
  height: 100%;
}

/* line 101, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* line 106, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* line 111, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.left {
  width: 50%;
}

/* line 114, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.middle, .right {
  width: 25%;
}

/* line 117, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.left-left {
  width: 40%;
}

/* line 120, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.left-middle, .left-right {
  width: 30%;
}

/* line 123, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.pad-top {
  padding-top: 10px;
}

/* line 126, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.p {
  margin: 0;
}

/* line 129, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.col-12 {
  width: 50%;
}

/* line 132, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
nav {
  font-family: 'Open Sans', sans-serif;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 5%;
  color: #FFF;
  background: #500000;
}

/* line 141, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.borderless td, .borderless th {
  border: 0;
}

/* line 144, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.borderless th {
  background-color: #606060;
  color: #FFF;
}

/* line 148, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.borderless tr:nth-child(odd) {
  background-color: #FFF;
  color: #222;
}

/* line 152, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.borderless tr:nth-child(even) {
  background-color: #DDD;
  color: #222;
}

/* line 156, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.fs {
  justify-content: flex-start;
}

/* line 159, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.faint {
  opacity: 0.5;
}

/* line 162, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.filler {
  flex-grow: 1;
}

/* line 165, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
td {
  border-radius: 5px;
}

/* line 168, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.green {
  background-color: #b7ffc8;
}

/* line 171, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.yellow {
  background-color: #fff78c;
}

/* line 174, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.red {
  background-color: #d83d2f;
}

/* line 177, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.top-border {
  border: none;
  border-radius: 5px 5px 0 0;
}

/* line 181, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.right-border {
  border: none;
  border-radius: 0 5px 5px 0;
}

/* line 185, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.fade-btn {
  background-color: #000;
  color: #DDD;
  padding: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  border: 2px solid rgba(0, 0, 0, 0);
}

/* line 193, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.fade-btn:hover {
  background-color: #FFF;
  color: #333;
  border: 2px solid black;
}

/* line 199, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
input[type="text"] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

/* line 204, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid rgba(80, 0, 0, 0.2);
}

/* line 208, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
a.logo {
  background: #000;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  color: white;
  font-family: 'Coiny', cursive;
  font-size: 20pt;
}

/* line 218, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

/* line 228, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
#customBtn:hover {
  cursor: pointer;
}

/* line 231, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
span.label {
  font-family: serif;
  font-weight: normal;
}

/* line 235, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
span.icon {
  background: url("/identity/sign-in/g-normal.png") transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

/* line 242, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

/* line 253, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
#payload-form {
  display: none;
}

/* line 257, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.form-modal {
  padding: 40px 70px;
  background: white;
  border-radius: 5px;
  margin: auto;
  margin-top: 10%;
}

/* line 264, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.form-modal form {
  flex-direction: column;
  display: flex;
}

/* line 268, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.form-modal input, .form-modal button {
  margin-top: 25px;
}

/* line 271, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.modal-container {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

/* line 282, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.filter-list span {
  background-color: rgba(80, 0, 0, 0.7);
  border-radius: 5px;
  color: white;
  padding: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

