/* line 4, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

/* line 12, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

/* line 20, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:last-child {
  position: static;
}

/* line 24, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(1) {
  z-index: 5;
}

/* line 28, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(2) {
  z-index: 4;
}

/* line 32, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(3) {
  z-index: 3;
}

/* line 36, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(4) {
  z-index: 2;
}

/* line 40, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:nth-child(5) {
  z-index: 1;
}

/* line 44, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* line 51, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label .icon {
  float: left;
  color: transparent;
}

/* line 56, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label:last-child .icon {
  color: #000;
}

/* line 60, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

/* line 65, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

/* line 70, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* line 76, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* line 82, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/prof_ranking.scss */
tr:nth-child(even) {
  background-color: #dddddd;
}
/* line 1, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

/* line 17, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* line 92, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.main-content {
  font-family: 'Open Sans', sans-serif;
}

/* line 95, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.container {
  width: 100%;
  height: 100%;
}

/* line 99, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* line 104, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* line 109, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.left {
  width: 50%;
}

/* line 112, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.middle, .right {
  width: 25%;
}

/* line 115, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.left-left {
  width: 40%;
}

/* line 118, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.left-middle, .left-right {
  width: 30%;
}

/* line 121, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.pad-top {
  padding-top: 10px;
}

/* line 124, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.p {
  margin: 0;
}

/* line 127, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.col-12 {
  width: 50%;
}

/* line 130, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* line 135, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.borderless td, .borderless th {
  border: 0;
}

/* line 138, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.borderless th {
  background-color: #606060;
  color: #FFF;
}

/* line 142, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.borderless tr:nth-child(odd) {
  background-color: #FFF;
  color: #222;
}

/* line 146, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.borderless tr:nth-child(even) {
  background-color: #DDD;
  color: #222;
}

/* line 150, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.fs {
  justify-content: flex-start;
}

/* line 153, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.faint {
  opacity: 0.5;
}

/* line 156, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.filler {
  width: 100%;
}

/* line 159, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
td {
  border-radius: 5px;
}

/* line 162, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.green {
  background-color: #b7ffc8;
}

/* line 165, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.yellow {
  background-color: #fff78c;
}

/* line 168, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.red {
  background-color: #d83d2f;
}

/* line 171, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.top-border {
  border: none;
  border-radius: 5px 5px 0 0;
}

/* line 175, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.right-border {
  border: none;
  border-radius: 0 5px 5px 0;
}

/* line 179, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.fade-btn {
  background-color: #000;
  color: #DDD;
  padding: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  border: 2px solid rgba(0, 0, 0, 0);
}

/* line 187, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
.fade-btn:hover {
  background-color: #FFF;
  color: #333;
  border: 2px solid black;
}

/* line 193, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
input[type="text"] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

/* line 198, /home/ec2-user/environment/TAMatch/app/assets/stylesheets/scaffolds.scss */
input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid rgba(80, 0, 0, 0.2);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

