// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fade-in-container{
    position: relative;
}
.fade-in-container div{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}
.fade-in-container div h1{
    opacity: 0;
    animation: 1s 0.5s fade-in ease-in-out forwards;
}
.fade-in-container div h3{
    opacity: 0;
    animation: 1s 1s fade-in ease-in-out forwards;
}
.fade-in-container psv, .fade-in-container psv h1, .fade-in-container psv h3{
    opacity: 0;
    pointer-events: none;
}