// Place all the styles related to the Matchmaker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.class-search{
    margin: 20px;
}
li.mm-delete-btn{
   position: relative;
}
.cute-btn a, .cute-btn a:hover, .cute-btn a:visited{
    text-decoration: none;
    color: white !important;
    background: none;
}
span.cute-btn{
    font-family: arial, sans-serif;
    position: absolute;
    opacity: 0;
    color: white;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: 0.2s all ease-in-out;
    pointer-events: none;
}
span.mm-delete-btn{
    left: 100%;
    top: 0;
    background: rgba(80, 0, 0, 1);
}
.mm-delete-btn:hover span.cute-btn{
    opacity: 0.5;
    pointer-events: auto;
}
span.cute-btn:hover{
    opacity: 1 !important;
}
.matchmaker-table{
    width: 30%;
}

span.mm-info-btn{
    left: -20px;
    top: 0;
    background: rgba(52, 152, 219, 1);
}

span.mm-destroy-btn{
    left: 100%;
    top: 20px;
    background: rgba(231, 76, 60, 1);
}
.mm-score{
    position: relative;
    display: inline-block;
}
tt.mm-score{
    font-size: 16pt;
    text-align: center;
    position: absolute;
    top: 0;
    left: 100%;
    width: 24.8px;
    height: 24.8px;
    margin-left: -12.4px;
    border-radius: 50%;
    color: white;
    background: #e74c3c;
    animation: 5s ping ease-in-out infinite;
}
tt.mm-score:after{
    content: "\21bb";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: 5s rotation ease-in-out infinite;
}
@keyframes ping{
    50%{
        background: #c0392b;
    }
}
@keyframes rotation{
    60%{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(360deg);
    }
}