// Place all the styles related to the ProfRanking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}
.rating label:nth-child(1) {
  z-index: 10;
}

.rating label:nth-child(2) {
  z-index: 9;
}

.rating label:nth-child(3) {
  z-index: 8;
}

.rating label:nth-child(4) {
  z-index: 7;
}

.rating label:nth-child(5) {
  z-index: 6;
}

.rating label:nth-child(6) {
  z-index: 5;
}
.rating label:nth-child(7) {
  z-index: 4;
}
.rating label:nth-child(8) {
  z-index: 3;
}
.rating label:nth-child(9) {
  z-index: 2;
}
.rating label:nth-child(10) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}